
__pycache__/api.cpython-38.pyc
__pycache__/constants.cpython-38.pyc
__pycache__/proxy_chrome.cpython-38.pyc
__pycache__/form_one.cpython-38.pyc
__pycache__/proxy_handler.cpython-38.pyc
log.txt
__pycache__/image_generator.cpython-38.pyc
black_and_white-fixed.png
black_and_white.png
save.png
